<!DOCTYPE html>
<html lang="en">
@{
    var BaseURL = "https://localhost:7208/api/";
    var MasterMenuList = "";
    var SubmenuList = "";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LAKSHYAEXIM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LAKSHYAEXIM.styles.css" asp-append-version="true" />
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>
<body>
    <header>
        <div class="Navbar relative z-20">
            <div class="w-full bg-blue-950 h-[62px] flex space-x-10 justify-around">
                <div class="flex space-x-5 animate-fade-right animate-delay-[83ms]">
                    <a href="https://wa.me/message/HWZVJZLH6Y2OB1?src=qr" target="_blank">
                        <div class="call flex space-x-2">
                            <svg height="48" viewBox="0 0 24 24" width="37" xmlns="http://www.w3.org/2000/svg" fill="#ffffff">
                                <path d="M20 10.999h2C22 5.869 18.127 2 12.99 2v2C17.052 4 20 6.943 20 10.999z" />
                                <path d="M13 8c2.103 0 3 .897 3 3h2c0-3.225-1.775-5-5-5v2zm3.422 5.443a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 3.513a1 1 0 0 0-1.391-.087l-2.17 1.861a1 1 0 0 0-.29.649c-.015.25-.301 6.172 4.291 10.766C11.305 20.707 16.323 21 17.705 21c.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a1 1 0 0 0-.086-1.391l-4.064-3.696z" />
                            </svg>
                            <span class="text-white text-xl m-2 hidden md:flex">+91 7600702098</span>
                        </div>
                    </a>
                    <span class="h-8 bg-white w-[2px] m-2"></span>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=lakshyaexim96@gmail.com" target="_blank">
                        <div class="call flex space-x-2">
                            <svg height="48px" width="37px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g fill="#ffffff">
                                    <path d="M67,148.7c11,5.8,163.8,89.1,169.5,92.1c5.7,3,11.5,4.4,20.5,4.4c9,0,14.8-1.4,20.5-4.4c5.7-3,158.5-86.3,169.5-92.1c4.1-2.1,11-5.9,12.5-10.2c2.6-7.6-0.2-10.5-11.3-10.5H257H65.8c-11.1,0-13.9,3-11.3,10.5C56,142.9,62.9,146.6,67,148.7z" />
                                    <path d="M455.7,153.2c-8.2,4.2-81.8,56.6-130.5,88.1l82.2,92.5c2,2,2.9,4.4,1.8,5.6c-1.2,1.1-3.8,0.5-5.9-1.4l-98.6-83.2c-14.9,9.6-25.4,16.2-27.2,17.2c-7.7,3.9-13.1,4.4-20.5,4.4c-7.4,0-12.8-0.5-20.5-4.4c-1.9-1-12.3-7.6-27.2-17.2l-98.6,83.2c-2,2-4.7,2.6-5.9,1.4c-1.2-1.1-0.3-3.6,1.7-5.6l82.1-92.5c-48.7-31.5-123.1-83.9-131.3-88.1c-8.8-4.5-9.3,0.8-9.3,4.9c0,4.1,0,205,0,205c0,9.3,13.7,20.9,23.5,20.9H257h185.5c9.8,0,21.5-11.7,21.5-20.9c0,0,0-201,0-205C464,153.9,464.6,148.7,455.7,153.2z" />
                                </g>
                            </svg>

                            <span class="text-white text-xl m-2 hidden md:flex">+91 7600702098</span>
                        </div>
                    </a>
                   
                </div>
                <div class="flex m-2">
                    <div class="Social-Icon flex animate-fade-left animate-delay-[83ms] gap-2">
                        <a href="https://www.instagram.com/lakshyaexim?igsh=MW52dnhoM3MzaGh6dQ==" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" height="35" viewBox="0,0,256,256">
                                <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M8,3c-2.761,0 -5,2.239 -5,5v8c0,2.761 2.239,5 5,5h8c2.761,0 5,-2.239 5,-5v-8c0,-2.761 -2.239,-5 -5,-5zM18,5c0.552,0 1,0.448 1,1c0,0.552 -0.448,1 -1,1c-0.552,0 -1,-0.448 -1,-1c0,-0.552 0.448,-1 1,-1zM12,7c2.761,0 5,2.239 5,5c0,2.761 -2.239,5 -5,5c-2.761,0 -5,-2.239 -5,-5c0,-2.761 2.239,-5 5,-5zM12,9c-1.65685,0 -3,1.34315 -3,3c0,1.65685 1.34315,3 3,3c1.65685,0 3,-1.34315 3,-3c0,-1.65685 -1.34315,-3 -3,-3z"></path></g></g>
                            </svg>
                        </a>
                        <a href="https://www.pinterest.com/" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" height="35" viewBox="0,0,256,256">
                                <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M12,2c-5.523,0 -10,4.477 -10,10c0,4.237 2.636,7.855 6.356,9.312c-0.087,-0.791 -0.167,-2.005 0.035,-2.868c0.182,-0.78 1.172,-4.971 1.172,-4.971c0,0 -0.299,-0.599 -0.299,-1.484c0,-1.391 0.806,-2.428 1.809,-2.428c0.853,0 1.265,0.641 1.265,1.408c0,0.858 -0.546,2.141 -0.828,3.329c-0.236,0.996 0.499,1.807 1.481,1.807c1.777,0 3.143,-1.874 3.143,-4.579c0,-2.394 -1.72,-4.068 -4.177,-4.068c-2.845,0 -4.515,2.134 -4.515,4.34c0,0.859 0.331,1.781 0.744,2.282c0.082,0.099 0.093,0.186 0.069,0.287c-0.076,0.316 -0.244,0.995 -0.277,1.134c-0.043,0.183 -0.145,0.222 -0.334,0.133c-1.249,-0.582 -2.03,-2.408 -2.03,-3.874c0,-3.154 2.292,-6.052 6.608,-6.052c3.469,0 6.165,2.472 6.165,5.776c0,3.447 -2.173,6.22 -5.189,6.22c-1.013,0 -1.966,-0.527 -2.292,-1.148c0,0 -0.502,1.909 -0.623,2.378c-0.226,0.868 -0.835,1.958 -1.243,2.622c0.935,0.287 1.929,0.444 2.96,0.444c5.522,0 10,-4.478 10,-10c0,-5.522 -4.477,-10 -10,-10z"></path></g></g>
                            </svg>
                        </a>
                        <a href="https://www.linkedin.com/in/lakshya-exim-12711b262?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" height="35" viewBox="0,0,256,256">
                                <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M19,3h-14c-1.105,0 -2,0.895 -2,2v14c0,1.105 0.895,2 2,2h14c1.105,0 2,-0.895 2,-2v-14c0,-1.105 -0.895,-2 -2,-2zM9,17h-2.523v-7h2.523zM7.694,8.717c-0.771,0 -1.286,-0.514 -1.286,-1.2c0,-0.686 0.514,-1.2 1.371,-1.2c0.771,0 1.286,0.514 1.286,1.2c0,0.686 -0.514,1.2 -1.371,1.2zM18,17h-2.442v-3.826c0,-1.058 -0.651,-1.302 -0.895,-1.302c-0.244,0 -1.058,0.163 -1.058,1.302c0,0.163 0,3.826 0,3.826h-2.523v-7h2.523v0.977c0.325,-0.57 0.976,-0.977 2.197,-0.977c1.221,0 2.198,0.977 2.198,3.174z"></path></g></g>
                            </svg>
                        </a>
                        <a href="https://www.facebook.com/profile.php?id=100091788639827&mibextid=ZbWKwL" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" height="35" viewBox="0,0,256,256">
                                <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M17,3h-10c-2.209,0 -4,1.791 -4,4v10c0,2.209 1.791,4 4,4h5.621v-6.961h-2.343v-2.725h2.343v-2.005c0,-2.324 1.421,-3.591 3.495,-3.591c0.699,-0.002 1.397,0.034 2.092,0.105v2.43h-1.428c-1.13,0 -1.35,0.534 -1.35,1.322v1.735h2.7l-0.351,2.725h-2.365v6.965h1.586c2.209,0 4,-1.791 4,-4v-10c0,-2.209 -1.791,-4 -4,-4z"></path></g></g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <nav class="fixed top-0 bg-gradient-to-b from-slate-100 to-slate-400 w-full md:w-3/4 m-auto relative rounded-xl h-20 top animate-fade-down z-50">
                <div class="max-w-7xl flex items-center justify-center px-4 sm:px-6 lg:px-8">
                    <div class="flex items-center justify-between">
                        <div class="meet flex-shrink-0 mr-60">
                            <a class="flex justify-center items-center rtl:space-x-reverse">
                                <img src="~/image/logo.png" class="h-[68px] mt-[5px]" alt="Flowbite Logo" />
                            </a>
                        </div>
                        <div class="hidden lg:block flex justify-center items-center">
                            <div id="menuContainer">
                                @* @for (int i = 0; i < MasterMenuList.Length; i++)
                                {
                                <a asp-area="" asp-controller="Home" asp-action="HomePage" class="text-[#22464C] hover:bg-blue-900 hover:text-white px-3 py-2 rounded-md text-[20px] font-medium">Home</a>
                                } *@
                                @*  <a asp-area="" asp-controller="Home" asp-action="AboutUS" class="text-[#22464C] hover:bg-blue-900 hover:text-white px-3 py-2 rounded-md text-[20px] font-medium">About Us</a>
                                <a asp-area="" asp-controller="Home" asp-action="OurTeam" class="text-[#22464C] hover:bg-blue-900 hover:text-white px-3 py-2 rounded-md text-[20px] font-medium">Our Team</a>
                                <a asp-area="" asp-controller="Home" asp-action="Product" class="text-[#22464C] hover:bg-blue-900 hover:text-white px-3 py-2 rounded-md text-[20px] font-medium">Product</a>
                                <a asp-area="" asp-controller="Home" asp-action="ContactUS" class="text-[#22464C] hover:bg-blue-900 hover:text-white px-3 py-2 rounded-md text-[20px] font-medium">Contact Us</a> *@
                            </div>
                        </div>
                        <div class="lg:hidden">
                            <button id="menu-button"
                                    type="button"
                                    class="text-black hover:text-black focus:outline-none focus:text-black"
                                    aria-controls="mobile-menu"
                                    aria-expanded="false">
                                <svg id="menu-icon" class="Hembgr-Icon h-6 w-6" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="mobile-menu" class="hidden flex justify-center items-center pb-4">
                    <div class="relative text-center shadow w-44 dark:bg-gray-700 rounded-xl flex justify-center items-center">
                        <div class="flex justify-center items-center">
                            <ul id="MobileMenu" class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                                @*  <li><a asp-area="" asp-controller="Home" asp-action="HomePage" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Home</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="AboutUS" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">About Us</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="OurTeam" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Our Team</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="Product" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Product</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="ContactUS" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Contact Us</a></li>
                                </ul> *@
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <div class="bg-gray-900">
        <footer class="mx-auto max-w-screen-2xl px-4 md:px-8 text-center text-sm text-gray-400">
            <div class="mb-4 grid grid-cols-2 gap-12 pt-10 md:grid-cols-4 lg:grid-cols-6 lg:gap-8 lg:pt-12">
                <div class="col-span-full lg:col-span-2  text-start">
                    <div class="mb-4 lg:-mt-2">
                        <a href="/" class="inline-flex items-start gap-2 text-xl font-bold text-gray-100 md:text-2xl" aria-label="logo">
                            LakshyaExim
                        </a>
                    </div>
                    <p class="mb-1 text-gray-400 sm:pr-8">
                        Based in Gujarat, India, we are a premier essential oil export company offering a diverse range of 100% pure and natural oils. With stringent quality control measures and a satisfaction guarantee, we ensure only the finest products reach our customers, backed by exceptional customer service.
                    </p> <p class="mb-6 text-gray-400 sm:pr-8">
                        Committed to promoting health and well-being, we passionately advocate for the potent benefits of essential oils. Through our dedication to excellence and unwavering belief in their healing properties, we invite you to embark on this transformative journey
                        with us.
                    </p>
                    <div class="flex gap-4">
                        <a href="https://www.instagram.com/lakshyaexim?igsh=MW52dnhoM3MzaGh6dQ==" target="_blank" class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5">
                                <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z" />
                            </svg>
                        </a>
                        <a href="https://www.pinterest.com/" target="_blank" class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
                            <svg width="22" height="22" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 999.9 999.9" id="Pinterest"><path d="M0 500c2.6-141.9 52.7-260.4 150.4-355.4S364.6 1.3 500 0c145.8 2.6 265.3 52.4 358.4 149.4 93.1 97 140.3 213.9 141.6 350.6-2.6 140.6-52.7 258.8-150.4 354.5-97.7 95.6-214.2 144.1-349.6 145.4-46.9 0-93.7-7.2-140.6-21.5 9.1-14.3 18.2-30.6 27.3-48.8 10.4-22.1 23.4-63.8 39.1-125 3.9-16.9 9.8-39.7 17.6-68.4 9.1 15.6 24.7 29.9 46.9 43 58.6 27.3 120.4 24.7 185.5-7.8 67.7-39.1 114.6-99.6 140.6-181.6 23.4-85.9 20.5-165.7-8.8-239.2C778.3 277 725.9 224 650.4 191.4c-95-27.3-187.5-24.4-277.3 8.8s-152.3 90.2-187.5 170.9C176.5 401 171 430.7 169 460c-2 29.3-1 57.9 2.9 85.9s13.7 53.1 29.3 75.2 36.5 39.1 62.5 50.8c6.5 2.6 11.7 2.6 15.6 0 5.2-2.6 10.4-13 15.6-31.2 5.2-18.2 7.2-30.6 5.9-37.1-1.3-2.6-3.9-7.2-7.8-13.7-27.3-44.3-36.5-90.8-27.3-139.6 9.1-48.8 29.3-90.2 60.5-124 48.2-43 104.5-66.4 168.9-70.3 64.4-3.9 119.5 13.7 165 52.7 24.7 28.6 40.7 63.1 47.8 103.5s7.2 79.1 0 116.2c-7.2 37.1-19.9 71.9-38.1 104.5-32.6 50.8-71 76.8-115.2 78.1-26-1.3-47.2-11.4-63.5-30.3s-21.2-40.7-14.6-65.4c2.6-14.3 10.4-42.3 23.4-84 13-41.7 20.2-72.9 21.5-93.7-3.9-49.5-26.7-74.9-68.4-76.2-32.6 3.9-56.6 18.6-72.3 43.9s-24.1 54.4-25.4 86.9c3.9 37.8 9.8 63.8 17.6 78.1-14.3 58.6-25.4 105.5-33.2 140.6-2.6 9.1-9.8 37.1-21.5 84s-18.2 82.7-19.5 107.4V957C206.3 914 133.3 851.9 80 770.5 26.7 689.1 0 598.9 0 500z" fill="#9ca3af" class="color000000 svgShape"></path></svg>
                        </a>
                        <a href="https://www.linkedin.com/in/lakshya-exim-12711b262?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5">
                                <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" />
                            </svg>
                        </a>
                        <a href="https://www.facebook.com/profile.php?id=100091788639827&mibextid=ZbWKwL" target="_blank" class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
                            <svg width="23" height="23" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0,0,256,256">
                                <g fill="#9ca3af" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M41,4h-32c-2.76,0 -5,2.24 -5,5v32c0,2.76 2.24,5 5,5h32c2.76,0 5,-2.24 5,-5v-32c0,-2.76 -2.24,-5 -5,-5zM37,19h-2c-2.14,0 -3,0.5 -3,2v3h5l-1,5h-4v15h-5v-15h-4v-5h4v-3c0,-4 2,-7 6,-7c2.9,0 4,1 4,1z"></path></g></g>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="text-start">
                    <div class="mb-4 font-bold uppercase tracking-widest text-gray-100">
                        Products
                    </div>
                    <nav class="flex flex-col gap-4">
                        <div>
                            <a href="/Home/Product" class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">
                                Essential Oil
                            </a>
                        </div>
                       @*  <div>
                            <a href="https://www.instagram.com/lakshyaexim?igsh=MW52dnhoM3MzaGh6dQ==" target="_blank" class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">
                                Jewellery
                            </a>
                        </div> *@

                    </nav>
                </div>
                <div class="text-start">
                    <div class="mb-4 font-bold uppercase tracking-widest text-gray-100">
                        Quick Link
                    </div>
                    <nav class="flex flex-col gap-4">
                        <div>
                            <a href="/Home/HomePage" class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">
                                Home
                            </a>
                        </div>
                        <div>
                            <a href="/Home/AboutUS" class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">
                                AboutUS
                            </a>
                        </div>
                        <div>
                            <a href="/Home/OurTeam" class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">
                                Our Team
                            </a>
                        </div>
                        <div>
                            <a href="/Home/Product" class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">
                                Product
                            </a>
                        </div>
                        <div>
                            <a href="/Home/ContactUS" class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">
                                Contact Us
                            </a>
                        </div>
                    </nav>
                </div>
                <div class="text-start">
                    <div class="mb-4 font-bold uppercase tracking-widest text-gray-100">
                        Get in Touch
                    </div>
                    <nav class="flex flex-col gap-4">
                        @* <div>
                        <a href="#" class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">
                        Documentation
                        </a>
                        </div> *@
                        <div>
                            <a href="https://wa.me/message/HWZVJZLH6Y2OB1?src=qr" target="_blank" class="text-gray-400 flex gap-2 transition duration-100 hover:text-indigo-500 active:text-indigo-600">
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" id="Call"><path fill-rule="evenodd" d="M14.73 12.996c-.463 1.407-2.277 2.109-3.573 1.992-1.77-.16-3.696-1.099-5.158-2.133C3.85 11.335 1.837 8.984.664 6.489-.165 4.726-.351 2.558.882.951c.456-.594.95-.911 1.69-.948C3.6-.047 3.744.541 4.097 1.457c.263.685.614 1.384.81 2.094.367 1.325-.916 1.38-1.078 2.463-.1.683.727 1.599 1.101 2.086a10.105 10.105 0 0 0 2.608 2.403c.57.359 1.488 1.006 2.14.649 1.004-.55.91-2.243 2.313-1.67.727.296 1.431.723 2.125 1.097 1.073.577 1.023 1.175.614 2.417-.306.928.306-.928 0 0" fill="#ffffff" class="color000000 svgShape"></path></svg>
                                +91 7600702098
                            </a>
                        </div>
                        <div>
                            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=lakshyaexim96@gmail.com" target="_blank" class="text-gray-400 flex gap-2 transition duration-100 hover:text-indigo-500 active:text-indigo-600">
                                <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" id="Email"><path d="M34.05 50 9 66.31V33.69L34.05 50zm31.9 0L91 66.31V33.69L65.95 50zm-3.66 2.39-11.2 7.29c-.33.21-.71.32-1.09.32s-.76-.11-1.09-.32l-11.2-7.29L10.66 70l-1.57 1.02C9.58 73.84 12.04 76 15 76h70c2.96 0 5.42-2.15 5.91-4.98L89.33 70 62.29 52.39zM50 55.61 89.33 30l1.58-1.02C90.42 26.15 87.96 24 85 24H15c-2.96 0-5.42 2.16-5.91 4.98L10.66 30 50 55.61z" fill="#e5e5e5" class="color000000 svgShape"></path></svg>
                                lakshyaexim96@gmail.com
                            </a>
                        </div>

                        <div>
                            <a target="_blank" class="text-gray-400 flex gap-1 transition duration-100 hover:text-indigo-500 active:text-indigo-600">
                                <svg class="h-[45px] w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="Location"><path d="M12,2a8.009,8.009,0,0,0-8,8c0,3.255,2.363,5.958,4.866,8.819,0.792,0.906,1.612,1.843,2.342,2.791a1,1,0,0,0,1.584,0c0.73-.948,1.55-1.885,2.342-2.791C17.637,15.958,20,13.255,20,10A8.009,8.009,0,0,0,12,2Zm0,11a3,3,0,1,1,3-3A3,3,0,0,1,12,13Z" fill="#e5e5e5" class="color000000 svgShape"></path></svg>
                                410,411 shivalik, nr.dabholi Gam, katargam, surat-395004
                            </a>
                        </div>
                    </nav>
                </div>
                <div class="${scrollPosition > 2450 ? 'animate-fade-up animate-delay-[83ms]' : ''}">
                    <div class="mb-4 font-bold uppercase tracking-widest text-gray-100 text-start">
                        Legal
                    </div>
                    <nav class="flex flex-col gap-4 text-start">
                        <div>
                            <a href="#" class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">
                                Terms of Service
                            </a>
                        </div>
                        <div>
                            <a href="#" class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">
                                Privacy Policy
                            </a>
                        </div>
                        <div>
                            <a href="#" class="text-gray-400 transition duration-100 hover:text-indigo-500 active:text-indigo-600">
                                Cookie settings
                            </a>
                        </div>
                    </nav>
                </div>

            </div>
            <div class="border-t border-gray-800 py-4">
                © 2024 Lakshya Exim. All Rights Reserved Developed by Meet Variya
            </div>
        </footer>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var isMobileMenuOpen = false;
            var menuButton = document.getElementById('menu-button');
            var menuIcon = document.getElementById('menu-icon');
            var mobileMenu = document.getElementById('mobile-menu');

            menuButton.addEventListener('click', function () {
                isMobileMenuOpen = !isMobileMenuOpen;
                if (isMobileMenuOpen) {
                    mobileMenu.classList.remove('hidden');
                    menuIcon.innerHTML = '<svg id="menu-icon" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" id="close"><path d="M38 12.83L35.17 10 24 21.17 12.83 10 10 12.83 21.17 24 10 35.17 12.83 38 24 26.83 35.17 38 38 35.17 26.83 24z"></path><path fill="none" d="M0 0h48v48H0z"></path></svg>';
                } else {
                    mobileMenu.classList.add('hidden');
                    menuIcon.innerHTML = '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>';
                }
            });

            var menuItems = mobileMenu.getElementsByTagName('a');
            for (var i = 0; i < menuItems.length; i++) {
                menuItems[i].addEventListener('click', function () {
                    isMobileMenuOpen = false;
                    mobileMenu.classList.add('hidden');
                    menuIcon.innerHTML = '<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>';
                });
            }
        });

        $(document).ready(function () {
            $.ajax({
                url: '@BaseURL' + "MasterMenu/AllMasterMenus",
                method: 'GET',
                dataType: 'json',
                success: function (result) {
                    var menuList = '';
                    var mobileMenuList = '';
                    $.each(result.data, function (key, value) {
                        console.log(value);

                        // Check if the master menu item is "Product"
                        if (value.masterMenuName === "Product") {
                            console.log("MasterMenuID:", value.masterMenuID);

                            // Create a container for the product dropdown
                            menuList += '<div class="relative inline-block text-left">';
                            menuList += '<button class="text-[#22464C] hover:bg-blue-900 hover:text-white px-3 py-2 rounded-md text-[20px] font-medium" id="productDropdown">' + value.masterMenuName + '</button>';
                            menuList += '<div id="productSubMenu" class="hidden absolute text-center right-5 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-10"></div>';
                            menuList += '</div>';

                            mobileMenuList += '<li><button id="mobileProductDropdown" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-black">' + value.masterMenuName + '</button>';
                            mobileMenuList += '<ul id="mobileProductSubMenu" class="hidden text-black bg-white shadow-md rounded-md"></ul></li>';

                            if (value.masterMenuID) {
                                $.ajax({
                                    url: '@BaseURL' + "SubMenu/AllSubMenusForFilter?MasterMenuID=" + value.masterMenuID,
                                    method: 'GET',
                                    dataType: 'json',
                                    success: function (SubResult) {
                                        var submenuItems = SubResult.data;
                                        var submenuList = '';
                                        var mobileSubmenuList = '';

                                        $.each(submenuItems, function (subKey, subValue) {
                                            var hrefValue = subValue.subMenuName === "EssentialOil" ? '/Home/Product' : 'https://www.instagram.com';
                                            submenuList += '<a href="' + hrefValue + '" class="block px-4 py-2 rounded-md hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">' + subValue.subMenuName + '</a>';
                                            mobileSubmenuList += '<li><a href="' + hrefValue + '" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">' + subValue.subMenuName + '</a></li>';
                                        });


                                        // Append the submenu items to the product dropdown
                                        $('#productSubMenu').append(submenuList);
                                        $('#mobileProductSubMenu').append(mobileSubmenuList);

                                        // Show dropdown on hover or click
                                        $('#productDropdown').on('click', function () {
                                            $('#productSubMenu').toggleClass('hidden');
                                        });

                                        $('#mobileProductDropdown').on('click', function () {
                                            $('#mobileProductSubMenu').toggleClass('hidden');
                                        });
                                    },
                                    error: function (subError) {
                                        console.log(subError);
                                    }
                                });
                            } else {
                                console.error("MasterMenuID is undefined for Product menu item.");
                            }
                        } else {
                            menuList += '<a href="/' + value.controllerName + '/' + value.actionName + '" class="text-[#22464C] hover:bg-blue-900 hover:text-white px-3 py-2 rounded-md text-[20px] font-medium">' + value.masterMenuName + '</a>';
                            mobileMenuList += '<li><a href="/' + value.controllerName + '/' + value.actionName + '" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">' + value.masterMenuName + '</a></li>';
                        }
                    });

                    // Append main menu items
                    $('#menuContainer').append(menuList);
                    $('#MobileMenu').append(mobileMenuList);
                },
                error: function (error) {
                    $('#cmsData').html('<p>An error has occurred</p>');
                    console.log(error);
                }
            });
        });



    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
