
/LAKSHYAEXIM/.vs
/LAKSHYAEXIM/bin
/bin
/node_modules
/obj
.vs/LAKSHYAEXIM/FileContentIndex/9789eabb-67fa-4ba7-8ea7-6c90c7f6e19b.vsidx
.vs/LAKSHYAEXIM/FileContentIndex/a38a3dd9-38d0-45d7-b572-23ed433650a2.vsidx
