@{
    var BaseURL = "https://api.lakshyaexim.in/api/";
    var imageURL = "https://api.lakshyaexim.in";
    var cmcDetails = "";
    var introductionRecord = "";
    var MemberList = "";
    var HomeProductDetails = "";
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '@BaseURL' + "CMS/AllCMS",
                method: 'GET',
                dataType: 'json',
                success: function (result) {
                    var cmcDetails = result.data;
                    var introductionRecord = cmcDetails.find(function (record) {
                        return record.title === "Introduction";
                    });
                    // Display the introductionRecord in the specified div
                    $('.Para-1').html('<div class="font-semibold font py-3">' + introductionRecord.metaDescription + '</div>');
                    $('.Another-Para').html('<div>' + introductionRecord.details + '</div>');
                },
                error: function (error) {
                    $('#cmsData').html('<p>An error has occurred</p>');
                    console.log(error);
                }
            });

            $.ajax({
                url: '@BaseURL' + "Doctor/AllDoctors",
                method: 'GET',
                dataType: 'json',
                success: function (result) {
                    var MemberList = result.data;
                    MemberList.forEach(function (member) {

                        var fullImageUrl = "@imageURL" + member.imagePath;

                        var memberHtml = "<div>" +
                            "<a class='group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg' >" +
                            "<img src='" + fullImageUrl + "' loading='lazy' alt= 'Photo by Austin Wade' class='absolute inset-0 h-[450px] w-full object-cover object-center transition duration-200 group-hover:scale-110' />" +
                            "<div class='relative flex w-full flex-col rounded-lg bg-white p-4 text-center'>" +
                            "<span class='text-gray-500'> " + member.details + "</span>" +
                            "<span class='text-lg font-bold text-gray-800 lg:text-xl'> " + member.doctorName + "</span>" +
                            "</div>" +
                            "</a>" +
                            "</div>";
                        $('#members-container').append(memberHtml);
                    });
                },
                error: function (error) {
                    $('#cmsData').html('<p>An error has occurred</p>');
                    console.log(error);
                }
            });

            $.ajax({
                url: '@BaseURL' + 'Product/AllProducts',
                method: 'GET',
                dataType: 'json',
                success: function (result) {
                    var cmcDetails = result.data;
                    var homeProducts = cmcDetails.filter(function (product) {
                        return product.isHomePage === true;
                    });

                    homeProducts.forEach(function (homeProduct) {
                        var fullImageUrl = "@imageURL" + homeProduct.imagePath;
                        // Limiting details to 200 words
                        var details = homeProduct.details.split(" ").slice(0, 70).join(" ");
                        var HomeProductHtml =
                            "<div class='cursor-pointer p-4 lg:w-1/3 product-card ' data-product-id='" + homeProduct.productID + "'>" +
                            "<div class='h-full bg-gray-100 bg-opacity-75 px-8 pb-5 rounded-lg overflow-hidden text-center relative'>" +
                            "<img src='" + fullImageUrl + "' class='h-[310px] relative m-auto hover:animate-wiggle hover:animate-infinite hover:animate-delay-100 hover:animate-ease-linear' />" +
                            "<h1 class='title-font sm:text-2xl mt-1 mb-1 text-xl font-medium text-gray-900 mb-3 animate-fade-left animate-delay-[50ms]' >" + homeProduct.productName + "</h1>" +
                            "<p class='leading-relaxed mb-3 animate-fade-left animate-delay-[50ms]'>" + details + "...</p>" +
                            "</div>" +
                            "</div>";
                        $('#HomePageProductDetails').append(HomeProductHtml);
                    });

                    $('.product-card').on('click', function () {
                        var productID = $(this).data('product-id');
                        ProductInfo(productID);
                    });
                },
                error: function (error) {
                    $('#HomePageProductDetails').html('<p>An error has occurred</p>');
                    console.log(error);
                }
            });

            function ProductInfo(productId) {
                var url = '/Home/ProductDetails?productId=' + productId;
                window.open(url, '_blank');
            }

            $(document).ready(function () {
                $('form#requirementForm').on('submit', function (event) {
                    event.preventDefault();

                    var formData = {
                        firstName: $('input[name="first-name"]').val(),
                        lastName: $('input[name="last-name"]').val(),
                        companyName: $('input[name="company"]').val(),
                        emailID: $('input[name="email"]').val(),
                        mobileNO: $('input[name="Mobile.No"]').val(),
                        details: $('textarea[name="message"]').val()
                    };

                    $.ajax({
                        url: '@BaseURL' + 'Inquiry/InsertInquiry',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(formData),
                        success: function (response) {
                            alert('Your requirement has been submitted successfully :)');
                            $('form#requirementForm')[0].reset();
                        },
                        error: function (error) {
                            console.error(error);
                            alert('An error occurred while submitting your requirement.');
                        }
                    });
                });
            });
        });

    </script>
}

<div>
    <div class="Part-First mx-auto px-4 sm:px-6 lg:px-8 pt-20 pb-16 text-center lg:pt-32" style="background-position: center; background-size: cover; background-repeat: no-repeat; background-image: url('/image/homepagebackgroundimage.png')">
        <p class="mx-auto -mt-4 max-w-2xl text-2xl tracking-tight text-slate-50 sm:mt-6">Lakshya Exim</p>

        <h1 class="mx-auto font-display text-2xl font-medium tracking-tight text-slate-100 sm:text-6xl focus-in-expand">
            <span class="inline-block">International <span class="relative whitespace-nowrap text-blue-600"><svg aria-hidden="true" viewBox="0 0 418 42" class="absolute top-2/3 left-0 h-[0.58em] w-full fill-blue-600/70" preserveAspectRatio="none"><path d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z"></path></svg><span class="relative"> Market</span></span><span class="relative"> For</span></span><span class="inline-block ml-2">Ultimate Brand</span>
        </h1>

        <p class="mx-auto mt-9 max-w-2xl text-lg tracking-tight text-slate-100 sm:mt-6 focus-in-expand"><span class="inline-block ">Increase international business with us as we are recommended as highlyreputed </span><span class="inline-block">international trading company by our esteemed customers</span></p>

        <div class="mt-12 flex flex-col justify-center gap-y-5 sm:mt-10 sm:flex-row sm:gap-y-0 sm:gap-x-6 animate-fade-up">
            <a asp-area="" asp-controller="Home" asp-action="AboutUS" class="relative inline-flex items-center justify-start inline-block px-8 pt-[11px] pb-[13px] overflow-hidden font-medium transition-all bg-blue-600 rounded-full hover:text-blue-600 hover:bg-white group">
                <span class="absolute inset-0 border-0 group-hover:border-[25px] ease-linear duration-100 transition-all border-white rounded-full"></span>
                <span class="relative w-full text-center transition-colors duration-200 ease-in-out group- text-xl">Learn More</span>
            </a>
        </div>
    </div>

    <div class="Part-two animate-fade-up animate-delay-100">
        <section class="text-gray-600 body-font">
            <div class="container px-5 pt-24 pb-10 mx-auto">
                <div id="HomePageProductDetails" class="flex flex-wrap mb-3 m-[-50px]">
                   


                </div>
            </div>
        </section>
    </div>

    <div class="Part-Three bg-slat-300">
        <div class="bg-white sm:py-8 lg:py-12">
            <div class="mx-auto max-w-screen-lg px-4 md:px-8">
                <div class="grid gap-7 sm:grid-cols-2">
                    <div class="flex flex-col items-center justify-center sm:items-start md:py-24 lg:py-4">
                        <div class="heading flex space-x-1 relative">
                            <div class="Rectangle1 absolute h-6 rounded-full w-44 bg-red-100 left-28 -bottom-1"></div>
                            <h2 class="text-2xl font-bold relative z-10">Introducing</h2>
                            <h2 class="text-2xl text-red-500 font-bold relative z-10">Our Work</h2>
                        </div>
                        <div class="Para-1 font-semibold font tracking-in-contract-bck-bottom">


                        </div>
                        <div class="Another-Para tracking-in-contract-bck-bottom">
                        
                        
                        </div>
                    </div>
                    <div class="animatesvg grid h-[318px]">
                        <img src="/image/animatesvg.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Part-Four">
        <div class="bg-slate-100 py-6 sm:py-8 lg:py-12">
            <div class="mx-auto max-w-screen-2xl px-4 md:px-32">
                <div class="flex items-center justify-center pb-0">
                    <h2 class="mb-8 text-center text-1xl font-bold text-gray-800 md:mb-12 lg:text-3xl">
                        <div class="heading flex relative">
                            <div class="Rectangle2 absolute h-6 rounded-full w-52 bg-red-100 left-32 -bottom-1"></div>
                            <h2 class="WeAreDedic text-2xl font-bold relative z-10">We're Dedic </h2>
                            <h2 class="Feature-Member text-2xl text-red-500 font-bold relative z-10">Features Members</h2>
                        </div>
                    </h2>
                </div>

                <div id="members-container" class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-3">
                 


                </div>
            </div>
        </div>
    </div>

    <div class="Part-Five">
        <div class="bg-white py-6 sm:py-8 lg:py-12">
            <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
                <div class="mb-10 md:mb-16">
                    <div class="flex items-center justify-center pb-0">
                        <h2 class="mb-2 text-center text-2xl font-bold text-gray-800 md:mb-2 lg:text-3xl">
                            <div class="heading flex relative">
                                <div class="Rectangle3 absolute h-6 rounded-full w-44 bg-red-100 left-32 -bottom-1"></div>
                                <h2 class="text-2xl font-bold relative z-10">Share Your</h2>
                                <h2 class="Feature-Member text-2xl text-red-500 ml-2 font-bold relative z-10">Requirement</h2>
                            </div>
                        </h2>
                    </div>
                </div>

                <form id="requirementForm" class="mx-auto grid max-w-screen-md gap-4 sm:grid-cols-2 border-solid border-2 rounded-md p-8 shadow-[7px_7px_26px_1px_#cbd5e0]">
                    <div>
                        <label for="first-name" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">First name*</label>
                        <input name="first-name" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" required />
                    </div>

                    <div>
                        <label for="last-name" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Last name*</label>
                        <input name="last-name" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" required />
                    </div>

                    <div class="sm:col-span-2">
                        <label for="company" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Company*</label>
                        <input name="company" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" required />
                    </div>

                    <div class="sm:col-span-2">
                        <label for="email" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Email*</label>
                        <input name="email" type="email" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" required />
                    </div>

                    <div class="sm:col-span-2">
                        <label for="Mobile.No" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Mobile.No*</label>
                        <input name="Mobile.No" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" required />
                    </div>

                    <div class="sm:col-span-2">
                        <label for="message" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Message*</label>
                        <textarea name="message" class="h-32 w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" required></textarea>
                    </div>

                    <div class="flex items-center justify-between sm:col-span-2">
                        <button type="submit" class="rounded-md px-3.5 py-2 m-1 overflow-hidden relative group cursor-pointer border-2 font-medium border-blue-950 text-indigo-600 text-white hover:animate-wiggle hover:animate-ease-linear hover:animate-infinite">
                            <span class="absolute w-64 h-0 transition-all duration-300 origin-center rotate-45 -translate-x-20 bg-blue-950 top-1/2 group-hover:h-64 group-hover:-translate-y-32 ease"></span>
                            <span class="relative text-blue-950 transition duration-300 group-hover:text-white ease">Send Requirement</span>
                        </button>
                        <span class="text-sm text-gray-500">*Required</span>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

