@{
    ViewData["Title"] = "Home Page";
    var BaseURL = "https://localhost:56971/api/CMS/AllCMS";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="cmsData" class="mt-4">
    <h1>this is asdfdsaasddfda    sdfdsfadsdas asdfdsaffdf</h1>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '@BaseURL',
                method: 'GET',
                dataType: 'json',
                success: function (result) {
                    debugger
                    var cmsContent = '';
                    $.each(result.data, function (key, value) {
                        cmsContent += '<div class="cms-item">';
                        cmsContent += '<h3 class="text-[24px] text-[red] font-bold">' + value.title + '</h3>';
                        cmsContent += '<p>' + value.details + '</p>';
                        cmsContent += '</div>';
                    });
                    $('#cmsData').html(cmsContent);
                },
                error: function (error) {
                    $('#cmsData').html('<p>An error has occurred</p>');
                    console.log(error);
                }
            });
        });
    </script>
}
