@{
    var BaseURL = "https://localhost:7208/api/";
    var imageURL = "https://localhost:7208";
    ViewData["Title"] = "Product Details";
    int productId = ViewBag.ProductId;
    var product = "";
}

@section Scripts {
    <script type="text/javascript">
        var productId = @productId;

        $(document).ready(function () {
            ProductDetailsFindFunction(productId);
        });

        function ProductDetailsFindFunction(id) {
            $('#Product-Card').empty();

            $.ajax({
                url: '@BaseURL' + "Product/ProductDetails?ProductId=" + id,
                method: 'GET',
                dataType: 'json',
                success: function (result) {
                    var product = result.data;
                    var fullImageUrl = "@imageURL" + product[0].imagePath;

                    $('#OilCatagory').html('<h1 class="text-3xl font-bold text-center mb-6 mt-6">' + product[0].productCategoryName + '</h1>');

                    var productDetailsHtml =
                        "<div class='container px-5 py-10 mx-auto'>" +
                        "<div class='lg:w-4/5 mx-auto flex flex-wrap'>" +
                        "<div class='lg:w-1/2 w-full'>" +
                        "<img alt='ecommerce' class='object-cover object-center rounded border border-gray-200 fixed-size-image' src='" + fullImageUrl + "'>" +
                        "</div>" +
                        "<div class='lg:w-1/2 w-full mt-6 lg:mt-0'>" +
                        "<h2 class='text-sm title-font text-gray-700 tracking-widest mb-2'>Lakshya Exim</h2>" +
                        "<h1 class='text-gray-900 text-3xl title-font font-medium'>" + product[0].productName + "</h1>" +
                        "<p class='leading-relaxed mb-6 product-description'>" + product[0].details + "</p>" +
                        "<div class='flex mt-6 items-center pb-2 border-b-2 border-gray-200 mb-5'></div>" +
                        "<div class='flex align-content-center'>" +
                         "<button onclick='sendWhatsAppInquiry(\"" + product[0].productName + "\")' class='flex mx-auto text-white bg-green-600 border-0 py-2 px-6 focus:outline-none hover:bg-green-700 rounded'>Inquire on WhatsApp</button>" +
                        "</div></div></div></div>";
                    $('#Product-Detail-Container').append(productDetailsHtml);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        function ProductInfo(productId) {
            var url = '/Home/ProductDetails?productId=' + productId;
            window.open(url, '_blank');
        }


        function sendWhatsAppInquiry(productName) {
            var message = "Hi! I'm interested in the product: " + productName;

            var whatsappNumber = "7600702098";

            var encodedMessage = encodeURIComponent(message);

            var whatsappLink = "https://api.whatsapp.com/send?phone=" + whatsappNumber + "&text=" + encodedMessage;

            window.open(whatsappLink, '_blank');
            console.log("whatsappLink")
        }


        $(document).ready(function () {
            $('form#requirementForm').on('submit', function (event) {
                event.preventDefault();

                var formData = {
                    firstName: $('input[name="first-name"]').val(),
                    lastName: $('input[name="last-name"]').val(),
                    companyName: $('input[name="company"]').val(),
                    emailID: $('input[name="email"]').val(),
                    mobileNO: $('input[name="Mobile.No"]').val(),
                    details: $('textarea[name="message"]').val()
                };

                $.ajax({
                    url: '@BaseURL' + 'Inquiry/InsertInquiry',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (response) {
                        alert('Your requirement has been submitted successfully.');
                        $('form#requirementForm')[0].reset();
                    },
                    error: function (error) {
                        console.error(error);
                        alert('An error occurred while submitting your requirement.');
                    }
                });
            });
        });

    </script>

}
<div>

    <div id="OilCatagory" class="text-3xl font-bold text-center mb-6 mt-6">
        <h1></h1>
    </div>

    <section id="Product-Detail-Container" class="text-gray-700 body-font overflow-hidden bg-white">
    </section>

    <div class="my-4 w-[80%] mx-auto border-t border-gray-300"></div>

    <div class="mx-auto max-w-screen-2xl px-4 md:px-8 mb-5">
        <div class="mb-10 md:mb-16">
            <div class="flex items-center justify-center pb-0">
                <h2 class="mb-2 text-center text-2xl font-bold text-gray-800 md:mb-2 lg:text-3xl">
                    <div class="heading flex relative">
                        <div class="Rectangle3 absolute h-6 rounded-full w-44 bg-red-100 left-32 -bottom-1"></div>
                        <h2 class="text-2xl font-bold relative z-10">Share Your</h2>
                        <h2 class="Feature-Member text-2xl text-red-500 ml-2 font-bold relative z-10">Requirement</h2>
                    </div>
                </h2>
            </div>
        </div>

        <form id="requirementForm" class="mx-auto grid max-w-screen-md gap-4 sm:grid-cols-2 border-solid border-2 rounded-md p-8 shadow-[7px_7px_26px_1px_#cbd5e0]">
            <div>
                <label for="first-name" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">First name*</label>
                <input name="first-name" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" required />
            </div>

            <div>
                <label for="last-name" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Last name*</label>
                <input name="last-name" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" required />
            </div>

            <div class="sm:col-span-2">
                <label for="company" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Company</label>
                <input name="company" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
            </div>

            <div class="sm:col-span-2">
                <label for="email" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Email*</label>
                <input name="email" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" required />
            </div>

            <div class="sm:col-span-2">
                <label for="Mobile.No" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Mobile.No*</label>
                <input name="Mobile.No" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" required />
            </div>

            <div class="sm:col-span-2">
                <label for="message" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Message*</label>
                <textarea name="message" class="h-32 w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" required></textarea>
            </div>

            <div class="flex items-center justify-between sm:col-span-2">
                <button type="submit" class="rounded-md px-3.5 py-2 m-1 overflow-hidden relative group cursor-pointer border-2 font-medium border-blue-950 text-indigo-600 text-white hover:animate-wiggle hover:animate-ease-linear hover:animate-infinite">
                    <span class="absolute w-64 h-0 transition-all duration-300 origin-center rotate-45 -translate-x-20 bg-blue-950 top-1/2 group-hover:h-64 group-hover:-translate-y-32 ease"></span>
                    <span class="relative text-blue-950 transition duration-300 group-hover:text-white ease">Send Requirement</span>
                </button>
                <span class="text-sm text-gray-500">*Required</span>
            </div>
        </form>
    </div>
</div>
