@tailwind base;
@tailwind components;
@tailwind utilities;

.top{
    margin-top: -10px !important;
}


@media (max-width: 556px) {
    .svg-class {
        margin-left: -100px;
    }
}

@media (max-width: 475px) {
    .meet {
        margin-right: 140px;
    }
}


a[b-dv5qfy7sa2] {
    color: inherit !important;
}
